main {
  min-height: 80vh;
}
header {
  top: 0;
  position: sticky;
  z-index: 1;
}
.header-icons {
  padding: 0 5px;
}
.rating {
  padding: 0.5rem 0;
}
i {
  padding: 0 0.1rem;
}
footer {
  background: lightgray;
}
.lightbutton {
  background-color: lightgray;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
